<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://campus.mysql.ksyun.com:3306/test_trade?useUnicode=true&amp;characterEncoding=UTF-8&amp;allowMultiQueries=true&amp;useSSL=false"/>
                <property name="username" value="test"/>
                <property name="password" value="test123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper-select.xml"/>
        <mapper resource="mapper-insert.xml"/>
    </mappers>
</configuration>